serverLoadThreshold: 100

triton:
  replicas: 1
  image: fastml/triton-torchgeo:22.07-py3-geometric # run3
  command: ["/bin/sh", "-c"]
  args: 
    - |
      /opt/tritonserver/bin/tritonserver \
      --model-repository=/cvmfs/cms.cern.ch/el9_amd64_gcc13/cms/cmssw/CMSSW_16_0_0_pre4/external/el9_amd64_gcc13/data/RecoBTag/Combined/data/models/ \
      --model-repository=/cvmfs/cms.cern.ch/el9_amd64_gcc13/cms/cmssw/CMSSW_16_0_0_pre4/external/el9_amd64_gcc13/data/RecoEgamma/EgammaPhotonProducers/data/models/ \
      --model-repository=/cvmfs/cms.cern.ch/el9_amd64_gcc13/cms/cmssw/CMSSW_16_0_0_pre4/external/el9_amd64_gcc13/data/RecoTauTag/TrainingFiles/data/DeepTauIdSONIC/ \
      --model-repository=/cvmfs/cms.cern.ch/el9_amd64_gcc13/cms/cmssw/CMSSW_16_0_0_pre4/external/el9_amd64_gcc13/data/RecoMET/METPUSubtraction/data/models/ \
      --log-verbose=0 \
      --strict-model-config=false \
      --exit-timeout-secs=60 \
      --backend-config=onnxruntime,enable-global-threadpool=1 

  resources:
    limits: { cpu: 2, memory: 8G, nvidia.com/gpu: 1}
    requests: { cpu: 2, memory: 8G, nvidia.com/gpu: 1}
  modelRepository:
    enabled: true
    storageType: cvmfs-pvc
    mountPath: /cvmfs

envoy:
  enabled: true

keda:
  enabled: false

prometheus:
  enabled: true
  serviceAccounts:
    server:
      name: supersonic-cck-prometheus-sa
  server:
    useExistingClusterRoleName: supersonic-cck-prometheus-role
    ingress:
      enabled: true
      hosts:
        - prometheus-cck-cms.nrp-nautilus.io
      tls:
        - hosts:
            - prometheus-cck-cms.nrp-nautilus.io
      ingressClassName: haproxy
      annotations:
        haproxy-ingress.github.io/cors-enable: "true"
        haproxy-ingress.github.io/proxy-body-size: "512m"
        haproxy-ingress.github.io/timeout-http-request: "5m"

grafana:
  enabled: true
  dashboardsConfigMaps:
    default: supersonic-cck-grafana-default-dashboard
  datasources:
    datasources.yaml:
      datasources:
        - name: prometheus
          type: prometheus
          access: proxy
          isDefault: true
          url: http://supersonic-cck-prometheus-server:9090
          jsonData:
            timeInterval: "5s"
            tlsSkipVerify: true
  ingress:
    enabled: true
    hosts:
      - grafana-cck-cms.nrp-nautilus.io
    tls:
      - hosts:
          - grafana-cck-cms.nrp-nautilus.io
    ingressClassName: haproxy
    annotations:
      haproxy-ingress.github.io/cors-enable: "true"
      haproxy-ingress.github.io/proxy-body-size: "512m"
      haproxy-ingress.github.io/timeout-http-request: "5m"
  grafana.ini:
    server:
      root_url: https://grafana-cck-cms.nrp-nautilus.io

opentelemetry-collector:
  enabled: false
tempo:
  enabled: false
